:host {
  flex: 100%;
  height: calc(100vh - 55px);
}
main {
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-left: 0; // override pane rules
}
stepper {
  width: 440px;
}
a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-right: 20px;
}
