/* ------------------------------------------------------------------------ *
    FLOATING LABEL INPUT STYLES
    These styles are directly applied to FloatingLabelComponent
    However the styles are shared and thus included in the global stylesheet
    because other input fields also require them.
    TypeaheadComponent
    Any custom use of the floating label design

    https://codepen.io/BRacicot/pen/JzNxPK
* ------------------------------------------------------------------------ */

// BEGIN DEFAULT STYLES
input-floating-label {
  width: 100%;
  &[type="textarea"] {
    min-height: 100px;
  }
}
.floating-label {
  position: relative;
  width: 100%;
  .tags {
    order: 2;
    padding: 0 13px;
    width: 100%;
  }
  .prepend,
  .append {
    min-height: 47px;
    min-width: 48px;
    &:active {
      top: 0; // reset for these buttons
    }
  }
}
.prepend ~ .floating-label__outline {
  .floating-label__leading {
    width: 56px;
  }
}
// some CVA components are using a form wrapping .floating-label__input
.floating-label__form {
  order: 2;
  flex: 1 0;
}
.floating-label__input {
  flex: 1 0;
  order: 2;
  min-width: 0; // fix: forced wrap at 241px
  padding: 13px 14px 14px 15px;

  border: none !important; // reset input defaults w caution
  outline: none !important; // reset input defaults w caution
  background-color: transparent;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
  z-index: 1;
  &:focus {
    box-shadow: none;
  }
}
// wrapper for the 3 border elements
.floating-label__outline {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;

  // // overridable colors (moved to global variable.scss file)
  // --static-border-color: rgba(0, 0, 0, 0.24);
  // --hover-border-color: rgba(0, 0, 0, 0.87);
  // --focused-border-color: rgba(33, 150, 243, .87);
}

// 3 border elements
.floating-label__leading,
.floating-label__notch,
.floating-label__trailing {
  border-color: var(--static-border-color);
  border-width: 1px;
  border-style: solid;
  transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.floating-label__leading {
  border-radius: 4px 0 0 4px;
  border-right: none;
  width: 12px;
}
// hides the border for label display
.floating-label__notch {
  border-right: none;
  border-left: none;
}
.floating-label__trailing {
  flex-grow: 1;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

// the actual floating <label>
.floating-label__label {
  align-content: center;
  align-self: flex-start;
  position: relative;
  bottom: auto;
  left: 4px;
  max-width: 100%;
  height: 45px;
  opacity: 0.5; // placeholder text should appear as placeholder style
  color: rgba(var(--body-text), 0.6);

  transform-origin: left top;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform; // smooth out the transition
}
textarea + .floating-label__outline .floating-label__label {
  align-content: flex-start;
  top: 10px;
}
// END DEFAULT STYLES

// BEGIN STATE-BASED STYLES
.floating-label {
  &:hover {
    .floating-label__leading,
    .floating-label__notch,
    .floating-label__trailing {
      border-color: var(--hover-border-color);
    }
  }
  &.disabled {
    .prepend,
    .append {
      background-color: var(--append-prepend-disabled);
      color: var(--append-prepend-disabled-text);
    }
    &:hover {
      .floating-label__leading,
      .floating-label__notch,
      .floating-label__trailing {
        border-color: var(--disabled-border-color);
      }
    }
  }
}

// input:not(:placeholder-shown) to know if text has been entered
// Edge support: when combined with a required input field, :valid is a dirty CSS-only solution to know if there's text in the input value
// https://stackoverflow.com/a/35302732/1440240
.floating-label.float, // JS solution
input:-webkit-autofill + .floating-label__outline
// CSS-based solutions
// .floating-label__input:not(:placeholder-shown),
// .floating-label__input:valid ~ .floating-label__outline,
// .floating-label__input:focus ~ .floating-label__outline
 {
  // --static-border-color: rgba(33, 150, 243, .87);
  .floating-label__leading,
  .floating-label__notch,
  .floating-label__trailing {
    border-color: rgba(var(--focused-border-color), 0.87);
    border-width: 2px;
    z-index: 99;
  }
  .floating-label__notch {
    border-top: none;
    max-width: calc(100% - 12px * 2);
  }
  .floating-label__label {
    opacity: 1;
    transform: translateY(-18px) scale(0.75);
  }
}
// END STATE-BASED STYLES

// VALIDATION
.input--error {
  // never show input-floating-label's input border
  .floating-label__input {
    border: none !important; // reset input defaults w caution
    outline: none !important; // reset input defaults w caution
  }
  .floating-label__label {
    color: red;
    animation: shake 0.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    perspective: 1000px;
  }
}

// can't use transform on .floating-label__label
@keyframes shake {
  33.33% {
    left: 8px;
  }
  66.33% {
    left: -2px;
  }
  100% {
    left: 4;
  }
}

/* ------------------------------------------------------------------------ *
    When only 1 tag is allowed save space by the single tag taking up the input element's space
* ------------------------------------------------------------------------ */
.single__tag {
  caret-color: transparent;
  .tags {
    position: absolute;
    height: 47px;
    padding: 0 7px;
    z-index: 997;
  }
  .chip__sm {
    width: 100%;
    margin: 0;
    icon {
      margin-left: auto;
    }
  }
}
